<div class="row footer">
    <div class="row logo">
        <img src="/images/auth-image/logo.png" alt="logo">
    </div>
    <div class="row information col-6">
        <div class="row">
            <i class="bi bi-geo-alt-fill col-1"></i>
            <strong class="col-11 mt-1">227 Nguyen Van Cu Street, Wards 4, Districts 5,<br> Ho Chi Minh City</strong>
        </div>
        <div class="row">
            <i class="bi bi-telephone-fill col-1"></i>
            <strong class="col-11 mt-4">+84 12345678</strong>
        </div>
        <div class="row">
            <i class="bi bi-envelope-fill col-1"></i>
            <strong class="col-11 mt-4">webidsupport@email.com</strong>
        </div>
    </div>
    <!-- <div class="col-2"></div> -->
    <div class="row about col-6">
        <h1 class="mt-2" style="font-size: 4.5rem;">About the web</h1>
        <p>
            <b style="font-size: 1.7rem;">
                Welcome to WeBid - the ultimate platform for
                exciting oppotunities! Dive into a world of competitive
                bidding where you can bid, win, and discover incredible
                deals.
            </b>
        </p>
        <div class="icon row">
            <i class="bi bi-facebook col-2"></i>
            <i class="bi bi-twitter-x col-2"></i>
            <i class="bi bi-youtube col-2"></i>
            <i class="bi bi-instagram col-2"></i>
        </div>
    </div>
</div>
</body>

</html>