<%- include('partials/header'); -%>

<h2>Category Page</h2>
<a href="/">Home Page</a>

<% categories.forEach(function(category){ %>
    <div><%= category.name %></div>
<% }) %>

<%- include('partials/footer'); -%>