<%- include('./partials/header'); -%>

<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-6">
            <img src="/images/auth-image/number-bid.png" alt="bid-number" class="img-fluid" />
        </div>
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h1 class="display-4" style="font-size: 6rem;">Dare to bid, Dare to win</h1>
                <p class="lead" style="font-size: 1.5rem;">Welcome to WeBid, step into a world of possibilities and embrace the thrill of success.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button" style="font-size: 2.5rem;">Go to bid</a>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 20rem;">
    &nbsp;
</div>


<%- include('./partials/footer'); -%>