*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bold-background: #cb997e;
  --background: #f5f5f5;
}

.userprofile-menu {
  background-color: #ffe4c4;
}

.ava-name-area {
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.avatar-frame {
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 0 !important;
}

.avatar-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.username-area p {
  margin-bottom: 0;
}

.edit-profile {
  opacity: 0.5;
}

.menu-items {
  padding: 0 !important;
}

li button {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
}

.list-group-item:hover {
  background-color: #cb997e;
}

.display-area {
  background-color: #fff;
}

hr {
  border: 0.2rem solid #cb997e;
}

.choose-file-btn {
  margin-top: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}

.choose-file-btn label {
  border-radius: 0.2rem;
  background-color: #ffe4c4;
  border: 0.1rem solid black;
}

.edit a {
  text-decoration: none;
  color: black;
  opacity: 50%;
}

.edit a:hover {
  text-decoration: underline;
}

#saveChangesBtn {
  border: none;
  border-radius: 0.2rem;
  background-color: #ffe4c4;
}

/* css for bid-history */

.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  padding: 1rem 1rem;
  position: relative;
  margin-left: 1rem;
}

.history-item h3 {
  margin: 0;
}

.history-item p {
  margin: 0.5rem 0;
  color: #555;
}

.day {
  position: relative;
}

.time-axis {
  position: relative;
  width: 1rem;
  border-left: 0.1rem solid #ddd;
}

.timeline-marker {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: #007bff;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.shortcut-button {
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  background-color: #ffe4c4;
}

.tooltip {
  position: absolute;
  background-color: #cb997e;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.4rem;
  opacity: 0;
  display: none;
  transition: opacity 1s;
  z-index: 1;
  bottom: 100%;
  left: 60%;
  transform: translateX(-50%);
}

.information:hover .tooltip {
  opacity: 1;
  display: flex;
}

.countdown {
  align-items: flex-end;
}

.countdown {
  display: flex;
  align-items: center;
}

.countdown i {
  margin-right: 10px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  margin: 0.2rem;
}

.countdown-number {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.win-status {
  color: rgb(98, 228, 98) !important;
  font-weight: 1000;
  font-size: 1.5rem;
}

.lose-status {
  color: red !important;
  font-weight: 1000;
  font-size: 1.5rem;
}

/* CSS cho nút "Go to bid" đã bị vô hiệu hóa */
.shortcut-button[disabled] {
  background-color: #ddd; /* Màu nền xám nhạt */
  cursor: not-allowed; /* Đổi con trỏ chuột thành "not-allowed" */
}

.card-product {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  overflow: hidden;
  width: 100%;
  height: 27rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  margin: 1.8rem;
}

.card-product > a{
  display: block;
}

.card-product img {
  width: 100%;
  height: auto;
  max-height: 15rem; /* Điều chỉnh độ cao tối đa của hình ảnh */
  object-fit: cover;
  border-radius: 0.8rem;
}

.card-content {
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  padding: 5px;
}

.product-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  cursor: pointer;
  color: #333;
  text-decoration: none;
}

.product-name:hover {
  text-decoration: underline;
}

.product-description {
  font-size: 1.4rem;
  color: #555;
  margin-bottom: 0.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
}

.price {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 0.8rem;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-icon {
  align-self: left;
  cursor: pointer;
  font-size: 1.8rem;
  transition: color 0.1s;
  color: grey;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  bottom: 1rem;
}

.heart-icon.clicked {
  color: red;
}

.go-to-bid-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.2rem;
}

.row{
  margin-top: 20px;
}

.card-product {
width: calc(22% - 15px); /* Chiều rộng của mỗi card, trừ đi khoảng cách giữa chúng */
}

.scrollable-area{
  height: 45rem;
  overflow-X: hidden;
  border: 1px, solid #333;
  padding:0;
}

.card-product {
  transition: opacity 0.5s ease; /* Adjust the duration and easing as needed */
}

.remove-transition {
  opacity: 0;
}
