#header-nav {
  font-size: 2.2rem;
  background-color: var(--header-background);
  color: white !important;
  height: 10rem;
  display: flex;
}

#nav-link {
  text-decoration: underline 0.4rem var(--header-background);
  transition: text-decoration-color 0.15s ease-in;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

#nav-link:hover {
  text-decoration-color: black;
}

#brandImg {
  height: 10rem;
  margin-left: 5rem;
}

#userAvatar {
  color: black !important;
  background-color: var(--header-background);
}

#dropDownAvatar {
  border: 0;
  background-color: var(--header-background);
}

#userAvatarField {
  right: 5rem;
  height: 100%;
}

#dropdown-menu {
  position: absolute;
  top: 8rem;
  right: 3.5rem;
}

#greetings {
  font-size: 1.6rem;
  color: black;
}

@media screen and (max-width: 768px) {
  .large-screen {
    display: none !important;
  }
  .small-screen {
    display: block !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .large-screen {
    display: flex !important;
  }
  .small-screen {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .large-screen {
    display: flex !important;
  }
  .small-screen {
    display: none !important;
  }
}
