*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-background: #ffe4c4;
  --bold-background: #cb997e;
  --background: #e6ccb2;
}

body,
html {
  font-size: 10px !important;
  font-family: arial, sans-serif !important;
  font-family: consolas, "Courier New" !important;
  background-color: var(--background) !important;
}
