*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-background: #fff;
  --bold-background: #cb997e;
  --background: #ECEFF7;
  --light-red: rgb(231, 54, 54);
}

body,
html {
  font-size: 10px !important;
  font-family: arial, sans-serif !important;
  font-family: "Roboto Black" !important;
  background-color: var(--background) !important;
}
