<%- include('../partials/header'); -%>

<head>
    <title>Create | WeBid</title>
</head>

<h2 class="text-center mt-5">Create Auction</h2>

<form action="/webid/items" method="post" enctype="multipart/form-data" style="max-width: 700px; margin: 0 auto">
    <div class="border border-secondary rounded p-3" style="font-size: 1.5rem;">
        <div class="mb-3 form-group row">
            <label for="name" class="form-label col-3">Name</label>
            <div class="col-9">
                <input type="text" class="form-control" id="name" name="name" style="font-size: 1.5rem;">
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="description" class="form-label col-3">Description</label>
            <div class="col-9">
                <textarea class="form-control col-sm-8" id="description" name="description" rows="5" style="font-size: 1.5rem;"></textarea>
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="category" class="form-label col-3">Category</label>
            <div class="col-9">
                <select name="category" class="form-select" style="font-size: 1.5rem;">
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category.name %>" style="font-size: 1.5rem;"><%= category.name %></option>
                    <% }); %>
                </select>
            </div>

        </div>

        <div class="mb-3 form-group row">
            <label for="startingBid" class="form-label col-3">Starting bid</label>
            <div class="col-9">
                <input type="number" class="form-control" id="startingBid" name="startingBid" style="font-size: 1.5rem;">
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="bidIncrement" class="form-label col-3">Bid increment</label>
            <div class="col-9">
                <input type="number" class="form-control" id="bidIncrement" name="bidIncrement" style="font-size: 1.5rem;">
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="image" class="form-label col-3">Choose image</label>
            <div class="col-9">
                <input type="file" class="form-control" id="image" name="image" accept="image/png, image/jpeg" style="font-size: 1.5rem;" required>
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="image" class="form-label col-3">Choose preview images</label>
            <div class="col-9">
                <input type="file" class="form-control" id="previewImages" name="previewImages" multiple accept="image/png, image/jpeg" style="font-size: 1.5rem;" required>
            </div>
        </div>

        <div class="mb-3 form-group row">
            <label for="day" class="col-3">Choose day</label>
            <div class="col-9 mb-2">
                <select id="day" class="form-select" name="day" style="font-size: 1.5rem;"></select>
            </div>

            <label for="hour" class="col-3">Choose hour</label>
            <div class="col-9 mb-2">
                <select id="hour" class="form-select" name="hour" style="font-size: 1.5rem;"></select>
            </div>

            <label for="minute" class="col-3">Choose minute</label>
            <div class="col-9 mb-2">
                <select id="minute" class="form-select" name="minute" style="font-size: 1.5rem;"></select>
            </div>

            <label for="second" class="col-3">Choose second</label>
            <div class="col-9 mb-2">
                <select id="second" class="form-select" name="second" style="font-size: 1.5rem;"></select>
            </div>
        </div>

        <div id="submit-btn-container" class="d-flex justify-content-center ">
            <button style="border: 0; border-radius: 5%; font-size: 2rem; background-color: var(--bold-background);" id="submit-btn" type=" submit">Create</button>
        </div>
    </div>
</form>

<div class="row" style="height: 5rem;">
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        let day = document.getElementById('day');
        let hour = document.getElementById('hour');
        let minute = document.getElementById('minute');
        let second = document.getElementById('second');

        for(let i = 0; i < 100; i++){
            let option = document.createElement('option');
            option.innerHTML = i;
            day.appendChild(option);
        }

        for(let i = 0; i < 24; i++){
            let option = document.createElement('option');
            option.innerHTML = i;
            hour.appendChild(option);
        }

        for(let i = 0; i < 60; i++){
            let option = document.createElement('option');
            option.innerHTML = i;
            minute.appendChild(option);
        }

        for(let i = 0; i < 60; i++){
            let option = document.createElement('option');
            option.innerHTML = i;
            second.appendChild(option);
        }
    })
</script>

<%- include('../partials/footer'); -%>