*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bold-background: #cb997e;
  --background: #e6ccb2;
}

body,
html {
  font-size: 1rem !important;
  font-family: arial, sans-serif !important;
  font-family: consolas, "Courier New" !important;
  background-color: var(--background) !important;
}


img {
vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
width: 470px;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  }

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 12px;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row1:after {
content: "";
display: table;
clear: both;
}

/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}


.product-area {
  background-color: #fff;
  width: 710px;
  padding: 20px;
}

.row{
  margin: 20px 20px;
}


#product-name{
  font-size: 1.5rem;
  font-weight: 50rem;
}


#category-tag{
  color: #fff;
  background-color: #cb997e;
  vertical-align: center;
}

.countdown-container {
  background-color: #ffe4c4;
}

.countdown {
  display: flex;
  align-items: center;
}

.countdown i {
  margin-right: 10px;
}


.countdown-item{
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: 10px;
}

.countdown-number {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: #cb997e;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  opacity: 0;
  display: none;
  transition: opacity 1s;
  z-index: 1;
  bottom: 100%; 
  left: 60%;
  transform: translateX(-50%);
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  display: block;
}

#quantity-input {
display: flex;
align-items: center;
}

#quantity-input input {
width: 40px;
text-align: center;
font-size: 16px;
padding: 8px;
border: 1px solid #ccc;

}

#quantity-input button {
padding: 8px;
font-size: 16px;
border: 1px solid #ccc;
background-color: #fff;
cursor: pointer;
}


#quantity-input button:hover {
background-color: #f0f0f0;
}

#quantity-input button:active {
background-color: #ffe4c4;
}

#btn-area{
  display: flex;
  justify-content: center;
}

#bid-btn, #add-to-fav{
padding: 0 !important;
height: 45px;
border: none;
border-radius: 5px;
background-color: #ffe4ce;
justify-content: center;
align-items: center;
}

#bid-btn button, #add-to-fav button{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
}

#bid-btn button:hover {
  color: #CD853F;
  filter: brightness(1.2);
}

#bid-btn button:active i {
  animation: rotate 0.3s ease;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(100deg); }
}