*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bold-background: #cb997e;
  --background: #e6ccb2;
}

body,
html {
  font-size: 10px !important;
  font-family: arial, sans-serif !important;
  font-family: consolas, "Courier New" !important;
  background-color: var(--background) !important;
}

body {
  margin: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: rgba(255, 228, 196, 0.7);
}

.wrapper {
  width: 42rem;
  background: transparent;
  color: var(--text-color);
  padding: 3rem 4rem;
  border-radius: 1rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: #e6ccb2;
  font-family: "Lobster Regular";
}

.wrapper h1 {
  font-size: 4rem;
  text-align: center;
}

.wrapper .form-group {
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 2rem 0;
}

.form-group .form-control {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 0.2rem solid #333;
  border-radius: 4rem;  
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 2rem 4.5rem 2rem 4.9rem;
  -webkit-text-fill-color: var(--text-color);
}

::-ms-reveal {
  display: none;
}

.form-group select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 0.2rem solid #333;
  border-radius: 4rem;
  padding: 0 4.5rem 0 4.9rem;
  font-size: 1.6rem;
  color: var(--text-color);
  -webkit-appearance: none; /* Loại bỏ mũi tên trên Chrome/Safari */
  -moz-appearance: none; /* Loại bỏ mũi tên trên Firefox */
  appearance: none; /* Loại bỏ mũi tên trên các trình duyệt khác */
}


.form-group .form-control:focus {
  background: transparent;
  outline: none;
  caret-color: black;
  color: #fff;
}

.form-group .form-control::placeholder {
  color: var(--text-color);
}



.form-group i {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
}

.form-group .show, .down-arrow-div {
  position: absolute;
  right: 6rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  border: none;
  outline: none;
  background: transparent;
  font-size: 2.5rem;
  color: var(--text-color);
}

.wrapper .form-check {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 1.5rem 0rem 1.5rem;
}

.form-check .form-check-label .form-check-input {
  accent-color: var(--text-color);
  margin: 0.3rem 0.5rem 0rem 0rem;
}

.form-check a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0 1.5rem 0 0;
}

.form-check a:hover {
  text-decoration: underline;
}

#login-btn {
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  background: #cb997e;
  border: none;
  outline: none;
  border-radius: 4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 600;
}

.register {
  color: var(--text-color);
}

.wrapper .register {
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem 0 1.5rem;
}

.register p a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}



