<%- include('../partials/header'); -%>

<form action="/login" method="post">
    <h2>Login</h2>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="email error"></div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="password error"></div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<script>
    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passwordError = document.querySelector('.password.error');

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        // reset errors
        emailError.textContent = '';
        passwordError.textContent = '';

        // get values
        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/api/webid/login', {
                method: 'POST',
                body: JSON.stringify({ email, password }),
                headers: { 'Content-type': 'application/json' }
            })
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            if (data.user) {
                location.assign('/login');
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>

<%- include('../partials/footer'); -%>