*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bold-background: #cb997e;
  --background: #e6ccb2;
}

body,
html {
  font-size: 1rem !important;
  font-family: arial, sans-serif !important;
  font-family: consolas, "Courier New" !important;
  background-color: var(--background) !important;
}


img {
vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
position: relative;
width: 470px;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  }

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 40%;
width: auto;
padding: 16px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Container for image text */
.caption-container {
text-align: center;
background-color: #222;
padding: 2px 16px;
color: white;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Six columns side by side */
.column {
float: left;
width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}


.product-area {
  background-color: #fff;
  width: 710px;
  padding: 20px;
}

.row{
  margin: 20px 20px;
}


#product-name{
  font-size: 1.5rem;
  font-weight: 50rem;
}


#category-tag{
  color: #fff;
  background-color: #cb997e;
  vertical-align: center;
}

.countdown-container {
  background-color: #ffe4c4;
}

.countdown {
  display: flex;
  align-items: center;
}

.countdown i {
  margin-right: 10px;
}

.countdown-item{
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: 10px;
}

.countdown-number {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
